.title{
    width: 100%;
    height: 56px;
    line-height: 56px;
    color: #888888;
    padding-left: 28px;
    font-size: 16px;
}
.sel{
    :global{
        .ant-tabs-tab:nth-child(1){
            margin-left: 28px;
        }
        
    }
}


